<body>

<h2>Entering a bookmark</h2>

<form action="/bookmarks/store" method="post">
  New bookmark:<br>
  <input type="text" name="url" placeholder="url">
  <input type="submit" value="Submit">
</form> 


</body>